In [1]:
# 
import pandas as pd

df = pd.read_excel('data/Base Datos Talento Tech Bogotá_Enviada.xlsx')
df.head()

,id,Codigo_departamento,Departamento,Región,Codigo_municipio,Municipio,Genero,Campesino,Estrato,Autoidentificacion_Etnica,...,area_5_des_solucion_de_problemas,"Origen (MINTIC, CYMETRIA)",Matriculado (SI o NO),"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles
0,1,11,"BOGOTÁ, D.C.",Región 8,11001,"BOGOTÁ, D.C.",Hombre,NO,2,Ningún grupo étnico,...,Null,MINTIC,SI,NO APROBADO,Inteligencia artificial,5,Híbrida,Básico,81.0,159.0
1,2,11,"BOGOTÁ, D.C.",Región 8,11001,"BOGOTÁ, D.C.",Mujer,NO,3,Ningún grupo étnico,...,Null,MINTIC,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,11,"BOGOTÁ, D.C.",Región 8,11001,"BOGOTÁ, D.C.",Mujer,NO,3,Ningún grupo étnico,...,Null,MINTIC,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,11,"BOGOTÁ, D.C.",Región 8,11001,"BOGOTÁ, D.C.",Hombre,NO,2,Ningún grupo étnico,...,Innovador,MINTIC,SI,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0
4,5,11,"BOGOTÁ, D.C.",Región 8,11001,"BOGOTÁ, D.C.",Mujer,NO,2,Ningún grupo étnico,...,Integrador,MINTIC,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0

In [2]:
df.shape

(34333, 54)

In [3]:
# Eliminar columnas específicas
columnas_a_eliminar = [
    'id',
    'Codigo_departamento',
    'Departamento',
    'Región',
    'Codigo_municipio',
    'Municipio'
]

df_cleaning = df.drop(columns=columnas_a_eliminar)

# Verificar resultado
df_cleaning.head()

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Compromiso_10_horas,Tipo_formacion,Acepta_requisitos_convocatoria,Victima_del_conflicto,...,area_5_des_solucion_de_problemas,"Origen (MINTIC, CYMETRIA)",Matriculado (SI o NO),"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles
0,Hombre,NO,2,Ningún grupo étnico,Educación Media,NaN,SI,Virtual,SI,NO,...,Null,MINTIC,SI,NO APROBADO,Inteligencia artificial,5,Híbrida,Básico,81.0,159.0
1,Mujer,NO,3,Ningún grupo étnico,Educación Universitaria Pregrado,NaN,SI,Virtual,SI,NO,...,Null,MINTIC,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mujer,NO,3,Ningún grupo étnico,Educación Universitaria Pregrado,NaN,SI,Híbrida,SI,NO,...,Null,MINTIC,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hombre,NO,2,Ningún grupo étnico,Educación Media,NaN,SI,Virtual,SI,NO,...,Innovador,MINTIC,SI,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0
4,Mujer,NO,2,Ningún grupo étnico,Educación Técnica Profesional,NaN,SI,Virtual,SI,NO,...,Integrador,MINTIC,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0

In [4]:
df_cleaning.shape

(34333, 48)

In [5]:
# mostrar que datos hay en la columna Eje_tematico
df_cleaning['Eje_tematico'].value_counts()
df_cleaning.shape

(34333, 48)

In [6]:
# Opción 1: quitar todas las que estén null en el eje temático
# Quitar columna Eje_tematico filas que digan Null
df_cleaning = df_cleaning[df_cleaning['Eje_tematico'] != 'Null']
df_cleaning = df_cleaning.dropna(subset=['Eje_tematico'])
df_cleaning.shape

(3111, 48)

In [7]:
# Mantener solo las filas donde la variable genero sea hombre o mujer
# df_cleaning = df_cleaning[df_cleaning['Genero'].isin(['Hombre', 'Mujer'])]

# Cambiar en la variable genero mujeres en 0 y hombres en 1
df_cleaning['Genero'] = df_cleaning['Genero'].map({'Mujer': 0, 'Hombre': 1})

print("Genero:" , df_cleaning['Genero'].value_counts())
df_cleaning.shape

# Cambiar en variable Campesino No en 0 y Si en 1
df_cleaning['Campesino'] = df_cleaning['Campesino'].map({'NO': 0, 'SI': 1})

df_cleaning.head(10)

Genero: Genero
1.0    2008
0.0    1080
Name: count, dtype: int64

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Compromiso_10_horas,Tipo_formacion,Acepta_requisitos_convocatoria,Victima_del_conflicto,...,area_5_des_solucion_de_problemas,"Origen (MINTIC, CYMETRIA)",Matriculado (SI o NO),"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles
3,1.0,0,2,Ningún grupo étnico,Educación Media,NaN,SI,Virtual,SI,NO,...,Innovador,MINTIC,SI,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0
4,0.0,0,2,Ningún grupo étnico,Educación Técnica Profesional,NaN,SI,Virtual,SI,NO,...,Integrador,MINTIC,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0
7,0.0,1,3,"Negro, Mulato, Afrodescendiente, Afrocolombiano",Educación Universitaria Pregrado,NaN,SI,Virtual,SI,NO,...,Explorador,MINTIC,SI,NO APROBADO,Inteligencia artificial,4,Virtual,Básico,21.0,159.0
13,0.0,0,2,Ningún grupo étnico,Educación Tecnológica,NaN,SI,Virtual,SI,NO,...,Integrador,MINTIC,SI,FORMADO,Programación,2,Híbrida,Intermedio,159.0,159.0
14,1.0,0,2,Ningún grupo étnico,Educación Media,NaN,SI,Virtual,SI,NO,...,Innovador,MINTIC,SI,NO APROBADO,Inteligencia artificial,6,Virtual,Avanzado,90.0,159.0
27,1.0,1,1,Indígena,Educación Tecnológica,NaN,SI,Virtual,SI,NO,...,Explorador,MINTIC,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0
29,1.0,0,3,Ningún grupo étnico,Educación Tecnológica,NaN,SI,Virtual,SI,NO,...,Innovador,MINTIC,SI,FORMADO,Programación,2,Híbrida,Básico,159.0,159.0
38,1.0,0,1,Ningún grupo étnico,Educación Tecnológica,NaN,SI,Virtual,SI,NO,...,Integrador,MINTIC,SI,FORMADO,Inteligencia artificial,4,Virtual,Intermedio,159.0,159.0
41,1.0,0,2,Ningún grupo étnico,Especialización,NaN,SI,Virtual,SI,NO,...,Innovador,MINTIC,SI,FORMADO,Análisis de datos,4_5,Virtual,Básico,156.0,159.0
45,1.0,1,2,"Negro, Mulato, Afrodescendiente, Afrocolombiano",Educación Universitaria Pregrado,NaN,SI,Virtual,SI,NO,...,Explorador,MINTIC,SI,FORMADO,Análisis de datos,2,Virtual,Intermedio,159.0,159.0

In [8]:
# En columna Estrato cambiar valores No estratificado por 0
df_cleaning['Estrato'] = df_cleaning['Estrato'].replace('No estratificado', 0)

print("NIvel_educacion:" , df_cleaning['NIvel_educacion'].value_counts())

# En variable NIvel_educacion cambiar Educación Primaria por 1, Educación Media por 2, Educación Secundaria Básica por 3,
# Educación Técnica Profesional por 4, Educación Tecnológica por 5, Educación Universitaria Pregrado por 6, 
# Especialización por 7, y quitar los que no reportan (No reporta)
nivel_educacion_map = {
    'Educación Primaria': 1,
    'Educación Media': 2,
    'Educación Secundaria Básica': 3,
    'Educación Técnica Profesional': 4,
    'Educación Tecnológica': 5,
    'Educación Universitaria Pregrado': 6,
    'Especialización': 7
}

df_cleaning = df_cleaning[df_cleaning['NIvel_educacion'] != 'No reporta']
df_cleaning['NIvel_educacion'] = df_cleaning['NIvel_educacion'].map(nivel_educacion_map)
print("NIvel_educacion:" , df_cleaning['NIvel_educacion'].value_counts())
df_cleaning.shape

NIvel_educacion: NIvel_educacion
Educación Universitaria Pregrado    1032
Educación Media                      762
Educación Tecnológica                528
Educación Técnica Profesional        423
Especialización                      311
Educación Secundaria Básica           49
Educación Primaria                     5
No reporta                             1
Name: count, dtype: int64
NIvel_educacion: NIvel_educacion
6    1032
2     762
5     528
4     423
7     311
3      49
1       5
Name: count, dtype: int64

/tmp/ipykernel_82753/718188252.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cleaning['Estrato'] = df_cleaning['Estrato'].replace('No estratificado', 0)

(3110, 48)

In [9]:
print("Autoidentificacion_Etnica:" , df_cleaning['Autoidentificacion_Etnica'].value_counts())

# Para variable Autoidentificacion_Etnica cambiar Ningún grupo étnico por 0, Indígena por 1, Negro, Mulato, Afrodescendiente, Afrocolombiano por 2, 
# Raizal del Archipiélago de San Andrés, Providencia y Santa Catalina por 3, Rrom o gitano por 4
auto_identificacion_etnica = {
    "Ningún grupo étnico": 0,
    "Indígena": 1,
    "Negro, Mulato, Afrodescendiente, Afrocolombiano": 2,
    "Raizal del Archipiélago de San Andrés, Providencia y Santa Catalina": 3,
    "Rrom o gitano": 4
}

df_cleaning['Autoidentificacion_Etnica'] = df_cleaning['Autoidentificacion_Etnica'].replace(auto_identificacion_etnica)
df_cleaning.head()

Autoidentificacion_Etnica: Autoidentificacion_Etnica
Ningún grupo étnico                                                    2957
Negro, Mulato, Afrodescendiente, Afrocolombiano                          94
Indígena                                                                 51
Rrom o gitano                                                             6
Raizal del Archipiélago de San Andrés, Providencia y Santa Catalina       2
Name: count, dtype: int64

/tmp/ipykernel_82753/285346812.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cleaning['Autoidentificacion_Etnica'] = df_cleaning['Autoidentificacion_Etnica'].replace(auto_identificacion_etnica)

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Compromiso_10_horas,Tipo_formacion,Acepta_requisitos_convocatoria,Victima_del_conflicto,...,area_5_des_solucion_de_problemas,"Origen (MINTIC, CYMETRIA)",Matriculado (SI o NO),"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles
3,1.0,0,2,0,2,NaN,SI,Virtual,SI,NO,...,Innovador,MINTIC,SI,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0
4,0.0,0,2,0,4,NaN,SI,Virtual,SI,NO,...,Integrador,MINTIC,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0
7,0.0,1,3,2,6,NaN,SI,Virtual,SI,NO,...,Explorador,MINTIC,SI,NO APROBADO,Inteligencia artificial,4,Virtual,Básico,21.0,159.0
13,0.0,0,2,0,5,NaN,SI,Virtual,SI,NO,...,Integrador,MINTIC,SI,FORMADO,Programación,2,Híbrida,Intermedio,159.0,159.0
14,1.0,0,2,0,2,NaN,SI,Virtual,SI,NO,...,Innovador,MINTIC,SI,NO APROBADO,Inteligencia artificial,6,Virtual,Avanzado,90.0,159.0

In [10]:

import numpy as np
# Discapacidad
print("Discapacidad:" , df_cleaning['Discapacidad'].value_counts())

# Para variable Discapacidad cambiar NaN por 0, Discapacidad física por 1, Discapacidad visual por 2,
# Discapacidad auditiva por 3, Discapacidad psicosocial (mental) por 4, Discapacidad múltiple por 5, Discapacidad intelectual por 6
discapacidad_map = {
    np.nan: 0,
    "Discapacidad física": 1,
    "Discapacidad visual": 2,
    "Discapacidad auditiva": 3,
    "Discapacidad psicosocial (mental)": 4,
    "Discapacidad múltiple": 5,
    "Discapacidad intelectual": 6
}

df_cleaning['Discapacidad'] = df_cleaning['Discapacidad'].replace(discapacidad_map)
df_cleaning.head()

Discapacidad: Discapacidad
Discapacidad física                  26
Discapacidad visual                  18
Discapacidad auditiva                13
Discapacidad psicosocial (mental)     8
Discapacidad múltiple                 3
Discapacidad intelectual              2
Name: count, dtype: int64

/tmp/ipykernel_82753/3184602142.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cleaning['Discapacidad'] = df_cleaning['Discapacidad'].replace(discapacidad_map)

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Compromiso_10_horas,Tipo_formacion,Acepta_requisitos_convocatoria,Victima_del_conflicto,...,area_5_des_solucion_de_problemas,"Origen (MINTIC, CYMETRIA)",Matriculado (SI o NO),"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles
3,1.0,0,2,0,2,0,SI,Virtual,SI,NO,...,Innovador,MINTIC,SI,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0
4,0.0,0,2,0,4,0,SI,Virtual,SI,NO,...,Integrador,MINTIC,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0
7,0.0,1,3,2,6,0,SI,Virtual,SI,NO,...,Explorador,MINTIC,SI,NO APROBADO,Inteligencia artificial,4,Virtual,Básico,21.0,159.0
13,0.0,0,2,0,5,0,SI,Virtual,SI,NO,...,Integrador,MINTIC,SI,FORMADO,Programación,2,Híbrida,Intermedio,159.0,159.0
14,1.0,0,2,0,2,0,SI,Virtual,SI,NO,...,Innovador,MINTIC,SI,NO APROBADO,Inteligencia artificial,6,Virtual,Avanzado,90.0,159.0

In [11]:
print("Compromiso_10_horas:" , df_cleaning['Compromiso_10_horas'].value_counts())

# Se elimina la variable Compromiso_10_horas porque todos los valores son SI
df_cleaning = df_cleaning.drop(columns=['Compromiso_10_horas'])

# variable Tipo_formacion cambiar Virtual por 0 e Híbrida por 1
df_cleaning['Tipo_formacion'] = df_cleaning['Tipo_formacion'].map({'Virtual': 0, 'Híbrida': 1})

# Acepta_requisitos_convocatoria
print("Acepta_requisitos_convocatoria:" , df_cleaning['Acepta_requisitos_convocatoria'].value_counts())

# Se elimina la variable Acepta_requisitos_convocatoria porque todos los valores son SI
df_cleaning = df_cleaning.drop(columns=['Acepta_requisitos_convocatoria'])

df_cleaning.head()

Compromiso_10_horas: Compromiso_10_horas
SI    3110
Name: count, dtype: int64
Acepta_requisitos_convocatoria: Acepta_requisitos_convocatoria
SI    3110
Name: count, dtype: int64

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Autoriza_manejo_datos_personales,Disponibilidad_Equipo,...,area_5_des_solucion_de_problemas,"Origen (MINTIC, CYMETRIA)",Matriculado (SI o NO),"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles
3,1.0,0,2,0,2,0,0,NO,SI,SI,...,Innovador,MINTIC,SI,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0
4,0.0,0,2,0,4,0,0,NO,SI,SI,...,Integrador,MINTIC,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0
7,0.0,1,3,2,6,0,0,NO,SI,SI,...,Explorador,MINTIC,SI,NO APROBADO,Inteligencia artificial,4,Virtual,Básico,21.0,159.0
13,0.0,0,2,0,5,0,0,NO,SI,SI,...,Integrador,MINTIC,SI,FORMADO,Programación,2,Híbrida,Intermedio,159.0,159.0
14,1.0,0,2,0,2,0,0,NO,SI,SI,...,Innovador,MINTIC,SI,NO APROBADO,Inteligencia artificial,6,Virtual,Avanzado,90.0,159.0

In [12]:
df_cleaning.columns

Index(['Genero', 'Campesino', 'Estrato', 'Autoidentificacion_Etnica',
       'NIvel_educacion', 'Discapacidad', 'Tipo_formacion',
       'Victima_del_conflicto', 'Autoriza_manejo_datos_personales',
       'Disponibilidad_Equipo', 'Presento prueba inicio', 'fecha_ini',
       'tiempo_segundos', 'Eje_tematico', 'Eje Final',
       'Puntaje_eje_tematico_selecionado', 'linea_1_programacion',
       'linea_2_inteligecia_artificial', 'linea_3_analisis_de_datos',
       'linea_4_blockchain', 'linea_5_arquitectura_en_la_nube',
       'linea_1_des_programacion', 'linea_2_des_inteligecia_artificial',
       'linea_3_des_analisis_de_datos', 'linea_4_des_blockchain',
       'linea_5_des_arquitectura_en_la_nube', 'area_1_alfabetizacion_datos',
       'area_2_comunicacion_y_colaboracion', 'area_3_contenidos_digitales',
       'area_4_seguridad', 'area_5_solucion_de_problemas', 'area_6_igles',
       'area_1_des_alfabetizacion_datos',
       'area_2_des_comunicacion_y_colaboracion',
       'area_3_des_contenidos_digitales', 'area_4_des_seguridad',
       'area_5_des_solucion_de_problemas', 'Origen (MINTIC, CYMETRIA)',
       'Matriculado (SI o NO)',
       'Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)',
       'Programa de Formación (Nombre del Curso)',
       'Cohorte (1,2,3,4,5,6,7 o 8)',
       'Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)', 'Nivel',
       'Asistencia horas', 'Total_horas posibles'],
      dtype='object')

In [13]:
# Variable Victima_del_conflicto cambiar NO por 0 y SI por 1
df_cleaning['Victima_del_conflicto'] = df_cleaning['Victima_del_conflicto'].map({'NO': 0, 'SI': 1})

print("Autoriza_manejo_datos_personales:" , df_cleaning['Autoriza_manejo_datos_personales'].value_counts())

# Se elimina la variable Autoriza_manejo_datos_personales porque todos los valores son SI
df_cleaning = df_cleaning.drop(columns=['Autoriza_manejo_datos_personales'])

# Variable Disponibilidad_Equipo cambiar NO por 0 y SI por 1
df_cleaning['Disponibilidad_Equipo'] = df_cleaning['Disponibilidad_Equipo'].map({'NO': 0, 'SI': 1})

print("Presento prueba inicio:" , df_cleaning['Presento prueba inicio'].value_counts())

# Se elimina la variable Presento prueba inicio porque todos los valores son SI
df_cleaning = df_cleaning.drop(columns=['Presento prueba inicio'])

df_cleaning.head()

Autoriza_manejo_datos_personales: Autoriza_manejo_datos_personales
SI    3110
Name: count, dtype: int64
Presento prueba inicio: Presento prueba inicio
SI    3110
Name: count, dtype: int64

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,fecha_ini,...,area_5_des_solucion_de_problemas,"Origen (MINTIC, CYMETRIA)",Matriculado (SI o NO),"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles
3,1.0,0,2,0,2,0,0,0,1,2023-12-16 17:35:13,...,Innovador,MINTIC,SI,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0
4,0.0,0,2,0,4,0,0,0,1,2023-12-18 18:30:32,...,Integrador,MINTIC,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0
7,0.0,1,3,2,6,0,0,0,1,2023-12-18 19:13:46,...,Explorador,MINTIC,SI,NO APROBADO,Inteligencia artificial,4,Virtual,Básico,21.0,159.0
13,0.0,0,2,0,5,0,0,0,1,2023-12-17 22:19:01,...,Integrador,MINTIC,SI,FORMADO,Programación,2,Híbrida,Intermedio,159.0,159.0
14,1.0,0,2,0,2,0,0,0,1,2023-12-16 23:01:34,...,Innovador,MINTIC,SI,NO APROBADO,Inteligencia artificial,6,Virtual,Avanzado,90.0,159.0

In [14]:
# Convertir fechas a datetime
import pandas as pd

# Convertir la columna a tipo datetime (maneja formato día/mes/año y hora)
df_cleaning['fecha_ini'] = pd.to_datetime(df_cleaning['fecha_ini'], format='%d/%m/%Y %I:%M:%S %p', errors='coerce')

# Crear nuevas columnas
df_cleaning['dia'] = df_cleaning['fecha_ini'].dt.day
df_cleaning['mes'] = df_cleaning['fecha_ini'].dt.month
df_cleaning['year'] = df_cleaning['fecha_ini'].dt.year

# Eliminar la columna original
df_cleaning = df_cleaning.drop(columns=['fecha_ini'])

# Verificar resultado
# df_cleaning[['dia', 'mes', 'year']].head()
df_cleaning.head()

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,tiempo_segundos,...,"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles,dia,mes,year
3,1.0,0,2,0,2,0,0,0,1,5988,...,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0,16,12,2023
4,0.0,0,2,0,4,0,0,0,1,5912,...,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0,18,12,2023
7,0.0,1,3,2,6,0,0,0,1,7044,...,NO APROBADO,Inteligencia artificial,4,Virtual,Básico,21.0,159.0,18,12,2023
13,0.0,0,2,0,5,0,0,0,1,3076,...,FORMADO,Programación,2,Híbrida,Intermedio,159.0,159.0,17,12,2023
14,1.0,0,2,0,2,0,0,0,1,7061,...,NO APROBADO,Inteligencia artificial,6,Virtual,Avanzado,90.0,159.0,16,12,2023

In [15]:
# Para variable Eje_tematico cambiar Programación por 0, Datos por 1, Inteligencia artificial por 2,
# Ciber seguridad y Blockchain por 3, Computación y arquitectura en la nube por 4 y Blockchain por 5
eje_tematico_map = {
    'Programación': 0,
    'Datos': 1,
    'Inteligencia artificial': 2,
    'Ciber seguridad y Blockchain': 3,
    'Computación y arquitectura en la nube': 4,
    'Blockchain': 5
}

df_cleaning['Eje_tematico'] = df_cleaning['Eje_tematico'].map(eje_tematico_map)
df_cleaning.head()

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,tiempo_segundos,...,"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles,dia,mes,year
3,1.0,0,2,0,2,0,0,0,1,5988,...,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0,16,12,2023
4,0.0,0,2,0,4,0,0,0,1,5912,...,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0,18,12,2023
7,0.0,1,3,2,6,0,0,0,1,7044,...,NO APROBADO,Inteligencia artificial,4,Virtual,Básico,21.0,159.0,18,12,2023
13,0.0,0,2,0,5,0,0,0,1,3076,...,FORMADO,Programación,2,Híbrida,Intermedio,159.0,159.0,17,12,2023
14,1.0,0,2,0,2,0,0,0,1,7061,...,NO APROBADO,Inteligencia artificial,6,Virtual,Avanzado,90.0,159.0,16,12,2023

In [16]:
# Para columna Eje Final cambiar Programación por 0, Análisis de Datos por 1, Inteligencia artificial por 2,
# Blockchain por 3 y Arquitectura en la nube por 4 
eje_final_map = {
    'Programación': 0,
    'Análisis de Datos': 1,
    'Inteligencia artificial': 2,
    'Blockchain' : 3,
    'Arquitectura en la nube' : 4
}

df_cleaning['Eje Final'] = df_cleaning['Eje Final'].map(eje_final_map)

df_cleaning['Eje Final'].head()

3     0
4     1
7     2
13    3
14    2
Name: Eje Final, dtype: int64

In [17]:
# Para columnas : linea_1_des_programacion	linea_2_des_inteligecia_artificial	linea_3_des_analisis_de_datos	linea_4_des_blockchain	linea_5_des_arquitectura_en_la_nube
#  cambiar Innovador - Avanzado por 0, Explorador - Básico Básico por 1, Integrador - Intermedio por 2
df_cleaning['linea_1_des_programacion'] = df_cleaning['linea_1_des_programacion'].map({
    'Innovador - Avanzado': 0,
    'Explorador - Básico': 1,
    'Integrador - Intermedio': 2
})

df_cleaning['linea_2_des_inteligecia_artificial'] = df_cleaning['linea_2_des_inteligecia_artificial'].map({
    'Innovador - Avanzado': 0,
    'Explorador - Básico': 1,
    'Integrador - Intermedio': 2
})
df_cleaning['linea_3_des_analisis_de_datos'] = df_cleaning['linea_3_des_analisis_de_datos'].map({
    'Innovador - Avanzado': 0,
    'Explorador - Básico': 1,
    'Integrador - Intermedio': 2
})
df_cleaning['linea_4_des_blockchain'] = df_cleaning['linea_4_des_blockchain'].map({
    'Innovador - Avanzado': 0,
    'Explorador - Básico': 1,
    'Integrador - Intermedio': 2
})
df_cleaning['linea_5_des_arquitectura_en_la_nube'] = df_cleaning['linea_5_des_arquitectura_en_la_nube'].map({
    'Innovador - Avanzado': 0,
    'Explorador - Básico': 1,
    'Integrador - Intermedio': 2
})
df_cleaning.head()
df_cleaning.shape

(3110, 46)

In [18]:
# Para las columnas area_1_des_alfabetizacion_datos	area_2_des_comunicacion_y_colaboracion	area_3_des_contenidos_digitales	area_4_des_seguridad	area_5_des_solucion_de_problemas
# cambiar Innovador por 0, Explorador por 1, Integrador por 2
df_cleaning['area_1_des_alfabetizacion_datos'] = df_cleaning['area_1_des_alfabetizacion_datos'].map({
    'Innovador': 0,
    'Explorador': 1,
    'Integrador': 2
})
df_cleaning['area_2_des_comunicacion_y_colaboracion'] = df_cleaning['area_2_des_comunicacion_y_colaboracion'].map({
    'Innovador': 0,
    'Explorador': 1,
    'Integrador': 2
})
df_cleaning['area_3_des_contenidos_digitales'] = df_cleaning['area_3_des_contenidos_digitales'].map({
    'Innovador': 0,
    'Explorador': 1,
    'Integrador': 2
})
df_cleaning['area_4_des_seguridad'] = df_cleaning['area_4_des_seguridad'].map({
    'Innovador': 0,
    'Explorador': 1,
    'Integrador': 2
})
df_cleaning['area_5_des_solucion_de_problemas'] = df_cleaning['area_5_des_solucion_de_problemas'].map({
    'Innovador': 0,
    'Explorador': 1,
    'Integrador': 2
})
df_cleaning.head()

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,tiempo_segundos,...,"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles,dia,mes,year
3,1.0,0,2,0,2,0,0,0,1,5988,...,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0,16,12,2023
4,0.0,0,2,0,4,0,0,0,1,5912,...,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0,18,12,2023
7,0.0,1,3,2,6,0,0,0,1,7044,...,NO APROBADO,Inteligencia artificial,4,Virtual,Básico,21.0,159.0,18,12,2023
13,0.0,0,2,0,5,0,0,0,1,3076,...,FORMADO,Programación,2,Híbrida,Intermedio,159.0,159.0,17,12,2023
14,1.0,0,2,0,2,0,0,0,1,7061,...,NO APROBADO,Inteligencia artificial,6,Virtual,Avanzado,90.0,159.0,16,12,2023

In [19]:
# Origen (MINTIC, CYMETRIA)
print("Origen (MINTIC, CYMETRIA):" , df_cleaning['Origen (MINTIC, CYMETRIA)'].value_counts())

# Se elimina la variable Origen (MINTIC, CYMETRIA) porque todos los valores son MINTIC
df_cleaning = df_cleaning.drop(columns=['Origen (MINTIC, CYMETRIA)'])

Origen (MINTIC, CYMETRIA): Origen (MINTIC, CYMETRIA)
MINTIC    3110
Name: count, dtype: int64

In [20]:
print("Matriculado (SI o NO):" , df_cleaning['Matriculado (SI o NO)'].value_counts())

# Definir las columnas que deben estar vacías
cols_vacias = [
    'Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)',
    'Programa de Formación (Nombre del Curso)',
    'Cohorte (1,2,3,4,5,6,7 o 8)',
    'Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)',
    'Nivel',
    'Asistencia horas',
    'Total_horas posibles'
]

# Filtrar filas donde Matriculado == 'NO'
filtro_no_matriculado = df_cleaning['Matriculado (SI o NO)'].str.strip().str.upper() == 'NO'

# Verificar vacíos (NaN o celdas vacías) en todas las columnas especificadas
filtro_vacias = df_cleaning[cols_vacias].isna() | (df_cleaning[cols_vacias].astype(str).apply(lambda x: x.str.strip()) == '')

# Filas donde todas esas columnas están vacías
filtro_todas_vacias = filtro_vacias.all(axis=1)

# Combinar ambas condiciones
filtro_final = filtro_no_matriculado & filtro_todas_vacias

# Contar cuántas cumplen
cantidad = filtro_final.sum()
print(f"Número de filas con 'Matriculado = NO' y todas las columnas vacías: {cantidad}")

# Todas las filas que tienen no en la variable Matriculado (SI o NO), están vacías las últimas columnas

Matriculado (SI o NO): Matriculado (SI o NO)
SI    1654
NO    1456
Name: count, dtype: int64
Número de filas con 'Matriculado = NO' y todas las columnas vacías: 1456

In [21]:
# Para variable Matriculado (SI o NO) cambiar NO por 0 y SI por 1
df_cleaning['Matriculado (SI o NO)'] = df_cleaning['Matriculado (SI o NO)'].map({'NO': 0, 'SI': 1})

# Para variable Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION) cambiar FORMADO por 1, INACTIVO por 2, NO APROBADO por 3 y vacios por 0 
df_cleaning['Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)'] = df_cleaning['Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)'].map({
    'FORMADO': 1,
    'INACTIVO': 2,
    'NO APROBADO': 3
}).fillna(0).astype(int)

df_cleaning['Matriculado (SI o NO)'].head(10)

3     1
4     1
7     1
13    1
14    1
27    1
29    1
38    1
41    1
45    1
Name: Matriculado (SI o NO), dtype: int64

In [22]:
# Para variable Programa de Formación (Nombre del Curso) cambiar vacios por 0, Análisis de datos por 1, Arquitectura en la nube por 2, 
# Blockchain por 3, Inteligencia artificial por 4, Programación por 5

df_cleaning['Programa de Formación (Nombre del Curso)'] = df_cleaning['Programa de Formación (Nombre del Curso)'].map({
    'Análisis de datos': 1,
    'Arquitectura en la nube': 2,
    'Blockchain': 3,
    'Inteligencia artificial': 4,
    'Programación': 5
}).fillna(0).astype(int)

df_cleaning.head(10)

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,tiempo_segundos,...,"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles,dia,mes,year
3,1.0,0,2,0,2,0,0,0,1,5988,...,1,5,6_7,Híbrida,Avanzado,159.0,159.0,16,12,2023
4,0.0,0,2,0,4,0,0,0,1,5912,...,2,1,1,Virtual,Básico,0.0,159.0,18,12,2023
7,0.0,1,3,2,6,0,0,0,1,7044,...,3,4,4,Virtual,Básico,21.0,159.0,18,12,2023
13,0.0,0,2,0,5,0,0,0,1,3076,...,1,5,2,Híbrida,Intermedio,159.0,159.0,17,12,2023
14,1.0,0,2,0,2,0,0,0,1,7061,...,3,4,6,Virtual,Avanzado,90.0,159.0,16,12,2023
27,1.0,1,1,1,5,0,0,0,1,1234,...,2,1,1,Virtual,Básico,0.0,159.0,18,12,2023
29,1.0,0,3,0,5,0,0,0,1,5121,...,1,5,2,Híbrida,Básico,159.0,159.0,16,12,2023
38,1.0,0,1,0,5,0,0,0,1,5926,...,1,4,4,Virtual,Intermedio,159.0,159.0,17,12,2023
41,1.0,0,2,0,7,0,0,0,1,7080,...,1,1,4_5,Virtual,Básico,156.0,159.0,16,12,2023
45,1.0,1,2,2,6,0,0,0,1,7112,...,1,1,2,Virtual,Intermedio,159.0,159.0,18,12,2023

In [23]:
print("Cohorte (1,2,3,4,5,6,7 o 8):" , df_cleaning['Cohorte (1,2,3,4,5,6,7 o 8)'].value_counts())

# Para variable Cohorte (1,2,3,4,5,6,7 o 8) cambiar 2_3 por 9, 3_5 por 10, 4_5 por 11, 5_7 por 12, 6_7 por 13, 6_8 por 14 y vacios por 0

df_cleaning['Cohorte (1,2,3,4,5,6,7 o 8)'] = df_cleaning['Cohorte (1,2,3,4,5,6,7 o 8)'].map({
    '2_3': 9,
    '3_5': 10,
    '4_5': 11,  
    '5_7': 12,
    '6_7': 13,
    '6_8': 14
}).fillna(0).astype(int)
df_cleaning.head(10)

Cohorte (1,2,3,4,5,6,7 o 8): Cohorte (1,2,3,4,5,6,7 o 8)
2_3    315
2      310
4      286
1      176
5      146
8      114
6       82
3       81
4_5     73
7       44
6_7     15
3_5      8
6_8      3
5_7      1
Name: count, dtype: int64

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,tiempo_segundos,...,"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles,dia,mes,year
3,1.0,0,2,0,2,0,0,0,1,5988,...,1,5,13,Híbrida,Avanzado,159.0,159.0,16,12,2023
4,0.0,0,2,0,4,0,0,0,1,5912,...,2,1,0,Virtual,Básico,0.0,159.0,18,12,2023
7,0.0,1,3,2,6,0,0,0,1,7044,...,3,4,0,Virtual,Básico,21.0,159.0,18,12,2023
13,0.0,0,2,0,5,0,0,0,1,3076,...,1,5,0,Híbrida,Intermedio,159.0,159.0,17,12,2023
14,1.0,0,2,0,2,0,0,0,1,7061,...,3,4,0,Virtual,Avanzado,90.0,159.0,16,12,2023
27,1.0,1,1,1,5,0,0,0,1,1234,...,2,1,0,Virtual,Básico,0.0,159.0,18,12,2023
29,1.0,0,3,0,5,0,0,0,1,5121,...,1,5,0,Híbrida,Básico,159.0,159.0,16,12,2023
38,1.0,0,1,0,5,0,0,0,1,5926,...,1,4,0,Virtual,Intermedio,159.0,159.0,17,12,2023
41,1.0,0,2,0,7,0,0,0,1,7080,...,1,1,11,Virtual,Básico,156.0,159.0,16,12,2023
45,1.0,1,2,2,6,0,0,0,1,7112,...,1,1,0,Virtual,Intermedio,159.0,159.0,18,12,2023

In [24]:
# Para variable Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO) cambiar Híbrida por 1, Virtual por 2 y vacios por 0
df_cleaning['Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)'] = df_cleaning['Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)'].map({
    'Híbrida': 1,
    'Virtual': 2
}).fillna(0).astype(int)
df_cleaning.head()

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,tiempo_segundos,...,"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles,dia,mes,year
3,1.0,0,2,0,2,0,0,0,1,5988,...,1,5,13,1,Avanzado,159.0,159.0,16,12,2023
4,0.0,0,2,0,4,0,0,0,1,5912,...,2,1,0,2,Básico,0.0,159.0,18,12,2023
7,0.0,1,3,2,6,0,0,0,1,7044,...,3,4,0,2,Básico,21.0,159.0,18,12,2023
13,0.0,0,2,0,5,0,0,0,1,3076,...,1,5,0,1,Intermedio,159.0,159.0,17,12,2023
14,1.0,0,2,0,2,0,0,0,1,7061,...,3,4,0,2,Avanzado,90.0,159.0,16,12,2023

In [25]:
# Para variable Nivel cambiar Básico por 1, Intermedio por 2, Avanzado por 3 y vacios por 0
df_cleaning['Nivel'] = df_cleaning['Nivel'].map({
    'Básico': 1,
    'Intermedio': 2,
    'Avanzado': 3
}).fillna(0).astype(int)
df_cleaning.head()

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,tiempo_segundos,...,"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles,dia,mes,year
3,1.0,0,2,0,2,0,0,0,1,5988,...,1,5,13,1,3,159.0,159.0,16,12,2023
4,0.0,0,2,0,4,0,0,0,1,5912,...,2,1,0,2,1,0.0,159.0,18,12,2023
7,0.0,1,3,2,6,0,0,0,1,7044,...,3,4,0,2,1,21.0,159.0,18,12,2023
13,0.0,0,2,0,5,0,0,0,1,3076,...,1,5,0,1,2,159.0,159.0,17,12,2023
14,1.0,0,2,0,2,0,0,0,1,7061,...,3,4,0,2,3,90.0,159.0,16,12,2023

In [26]:
# En variable Asistencia horas cambiar NaN por -1
df_cleaning['Asistencia horas'] = df_cleaning['Asistencia horas'].fillna(-1).astype(int)

# En variable Total_horas posibles cambiar 159 por 1 y vacias por 0
df_cleaning['Total_horas posibles'] = df_cleaning['Total_horas posibles'].replace(159, 1).fillna(0).astype(int)
df_cleaning.head()

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,tiempo_segundos,...,"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles,dia,mes,year
3,1.0,0,2,0,2,0,0,0,1,5988,...,1,5,13,1,3,159,1,16,12,2023
4,0.0,0,2,0,4,0,0,0,1,5912,...,2,1,0,2,1,0,1,18,12,2023
7,0.0,1,3,2,6,0,0,0,1,7044,...,3,4,0,2,1,21,1,18,12,2023
13,0.0,0,2,0,5,0,0,0,1,3076,...,1,5,0,1,2,159,1,17,12,2023
14,1.0,0,2,0,2,0,0,0,1,7061,...,3,4,0,2,3,90,1,16,12,2023

In [27]:
df_cleaning.shape

(3110, 45)

In [28]:
df_cleaning.columns

Index(['Genero', 'Campesino', 'Estrato', 'Autoidentificacion_Etnica',
       'NIvel_educacion', 'Discapacidad', 'Tipo_formacion',
       'Victima_del_conflicto', 'Disponibilidad_Equipo', 'tiempo_segundos',
       'Eje_tematico', 'Eje Final', 'Puntaje_eje_tematico_selecionado',
       'linea_1_programacion', 'linea_2_inteligecia_artificial',
       'linea_3_analisis_de_datos', 'linea_4_blockchain',
       'linea_5_arquitectura_en_la_nube', 'linea_1_des_programacion',
       'linea_2_des_inteligecia_artificial', 'linea_3_des_analisis_de_datos',
       'linea_4_des_blockchain', 'linea_5_des_arquitectura_en_la_nube',
       'area_1_alfabetizacion_datos', 'area_2_comunicacion_y_colaboracion',
       'area_3_contenidos_digitales', 'area_4_seguridad',
       'area_5_solucion_de_problemas', 'area_6_igles',
       'area_1_des_alfabetizacion_datos',
       'area_2_des_comunicacion_y_colaboracion',
       'area_3_des_contenidos_digitales', 'area_4_des_seguridad',
       'area_5_des_solucion_de_problemas', 'Matriculado (SI o NO)',
       'Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)',
       'Programa de Formación (Nombre del Curso)',
       'Cohorte (1,2,3,4,5,6,7 o 8)',
       'Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)', 'Nivel',
       'Asistencia horas', 'Total_horas posibles', 'dia', 'mes', 'year'],
      dtype='object')

In [29]:
df_cleaning.to_csv('df_clean.csv', index=False)

In [30]:
# Opción 2: Se mantiene las filas con null en eje temático