In [65]:
# 
import pandas as pd
import numpy as np

df = pd.read_excel('data/Base Datos Talento Tech Bogotá_Enviada.xlsx')
df.head()

,id,Codigo_departamento,Departamento,Región,Codigo_municipio,Municipio,Genero,Campesino,Estrato,Autoidentificacion_Etnica,...,area_5_des_solucion_de_problemas,"Origen (MINTIC, CYMETRIA)",Matriculado (SI o NO),"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles
0,1,11,"BOGOTÁ, D.C.",Región 8,11001,"BOGOTÁ, D.C.",Hombre,NO,2,Ningún grupo étnico,...,Null,MINTIC,SI,NO APROBADO,Inteligencia artificial,5,Híbrida,Básico,81.0,159.0
1,2,11,"BOGOTÁ, D.C.",Región 8,11001,"BOGOTÁ, D.C.",Mujer,NO,3,Ningún grupo étnico,...,Null,MINTIC,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,11,"BOGOTÁ, D.C.",Región 8,11001,"BOGOTÁ, D.C.",Mujer,NO,3,Ningún grupo étnico,...,Null,MINTIC,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,11,"BOGOTÁ, D.C.",Región 8,11001,"BOGOTÁ, D.C.",Hombre,NO,2,Ningún grupo étnico,...,Innovador,MINTIC,SI,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0
4,5,11,"BOGOTÁ, D.C.",Región 8,11001,"BOGOTÁ, D.C.",Mujer,NO,2,Ningún grupo étnico,...,Integrador,MINTIC,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0

In [66]:
df.shape

(34333, 54)

# Eliminar columnas

In [76]:
# Eliminar columnas específicas
columnas_a_eliminar = [
    'id',
    'Codigo_departamento',
    'Departamento',
    'Región',
    'Codigo_municipio',
    'Municipio'
]

df_cleaning = df.drop(columns=columnas_a_eliminar)

print("Compromiso_10_horas:" , df_cleaning['Compromiso_10_horas'].value_counts())

# Se elimina la variable Compromiso_10_horas porque todos los valores son SI
df_cleaning = df_cleaning.drop(columns=['Compromiso_10_horas'])

# Verificar resultado
df_cleaning.head()

# Acepta_requisitos_convocatoria
print("Acepta_requisitos_convocatoria:" , df_cleaning['Acepta_requisitos_convocatoria'].value_counts())

# Se elimina la variable Acepta_requisitos_convocatoria porque todos los valores son SI
df_cleaning = df_cleaning.drop(columns=['Acepta_requisitos_convocatoria'])

print("Autoriza_manejo_datos_personales:" , df_cleaning['Autoriza_manejo_datos_personales'].value_counts())

# Se elimina la variable Autoriza_manejo_datos_personales porque todos los valores son SI
df_cleaning = df_cleaning.drop(columns=['Autoriza_manejo_datos_personales'])

# Variable Disponibilidad_Equipo cambiar NO por 0 y SI por 1
df_cleaning['Disponibilidad_Equipo'] = df_cleaning['Disponibilidad_Equipo'].map({'NO': 0, 'SI': 1})

print("Presento prueba inicio:" , df_cleaning['Presento prueba inicio'].value_counts())

# Se elimina la variable Presento prueba inicio porque todos los valores son SI
df_cleaning = df_cleaning.drop(columns=['Presento prueba inicio'])

# Origen (MINTIC, CYMETRIA)
print("Origen (MINTIC, CYMETRIA):" , df_cleaning['Origen (MINTIC, CYMETRIA)'].value_counts())

# Se elimina la variable Origen (MINTIC, CYMETRIA) porque todos los valores son MINTIC
df_cleaning = df_cleaning.drop(columns=['Origen (MINTIC, CYMETRIA)'])

Compromiso_10_horas: Compromiso_10_horas
SI    34333
Name: count, dtype: int64
Acepta_requisitos_convocatoria: Acepta_requisitos_convocatoria
SI    34325
NO        5
No        3
Name: count, dtype: int64
Autoriza_manejo_datos_personales: Autoriza_manejo_datos_personales
SI    34333
Name: count, dtype: int64
Presento prueba inicio: Presento prueba inicio
NO    31165
SI     3168
Name: count, dtype: int64
Origen (MINTIC, CYMETRIA): Origen (MINTIC, CYMETRIA)
MINTIC      19112
CYMETRIA    15221
Name: count, dtype: int64

In [77]:
df_cleaning.shape

(34333, 43)

In [79]:
# mostrar que datos hay en la columna Eje_tematico
df_cleaning['Eje_tematico'].value_counts()

Eje_tematico
Null                                     31222
Programación                               920
Datos                                      722
Inteligencia artificial                    673
Ciber seguridad y Blockchain               430
Computación y arquitectura en la nube      333
Blockchain                                  33
Name: count, dtype: int64

# eliminar observaciones

In [80]:
print("Matriculado (SI o NO):" , df_cleaning['Matriculado (SI o NO)'].value_counts())

# Definir las columnas que deben estar vacías
cols_vacias = [
    'Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)',
    'Programa de Formación (Nombre del Curso)',
    'Cohorte (1,2,3,4,5,6,7 o 8)',
    'Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)',
    'Nivel',
    'Asistencia horas',
    'Total_horas posibles'
]

# Filtrar filas donde Matriculado == 'NO'
filtro_no_matriculado = df_cleaning['Matriculado (SI o NO)'].str.strip().str.upper() == 'NO'

# Verificar vacíos (NaN o celdas vacías) en todas las columnas especificadas
filtro_vacias = df_cleaning[cols_vacias].isna() | (df_cleaning[cols_vacias].astype(str).apply(lambda x: x.str.strip()) == '')

# Filas donde todas esas columnas están vacías
filtro_todas_vacias = filtro_vacias.all(axis=1)

# Combinar ambas condiciones
filtro_final = filtro_no_matriculado & filtro_todas_vacias

# Contar cuántas cumplen
cantidad = filtro_final.sum()
print(f"Número de filas con 'Matriculado = NO' y todas las columnas vacías: {cantidad}")

# Todas las filas que tienen no en la variable Matriculado (SI o NO), están vacías las últimas columnas

Matriculado (SI o NO): Matriculado (SI o NO)
SI    18781
NO    15552
Name: count, dtype: int64
Número de filas con 'Matriculado = NO' y todas las columnas vacías: 15552

In [81]:
# eliminar todos los no matriculados
df_cleaning = df_cleaning[df_cleaning['Matriculado (SI o NO)'] == "SI"]

In [82]:
# Opción 1: quitar todas las que estén null en el eje temático
# Quitar columna Eje_tematico filas que digan Null
df_cleaning = df_cleaning[df_cleaning['Eje_tematico'] != 'Null']
df_cleaning = df_cleaning.dropna(subset=['Eje_tematico'])
df_cleaning.shape

(1655, 43)

In [83]:
# En columna Estrato cambiar valores No estratificado por 0
df_cleaning['Estrato'] = df_cleaning['Estrato'].replace('No estratificado', 0)

print("NIvel_educacion:" , df_cleaning['NIvel_educacion'].value_counts())

# En variable NIvel_educacion cambiar Educación Primaria por 1, Educación Media por 2, Educación Secundaria Básica por 3,
# Educación Técnica Profesional por 4, Educación Tecnológica por 5, Educación Universitaria Pregrado por 6, 
# Especialización por 7, y quitar los que no reportan (No reporta)
nivel_educacion_map = {
    'Educación Primaria': 1,
    'Educación Media': 2,
    'Educación Secundaria Básica': 3,
    'Educación Técnica Profesional': 4,
    'Educación Tecnológica': 5,
    'Educación Universitaria Pregrado': 6,
    'Especialización': 7
}

df_cleaning = df_cleaning[df_cleaning['NIvel_educacion'] != 'No reporta']
df_cleaning['NIvel_educacion'] = df_cleaning['NIvel_educacion'].map(nivel_educacion_map)
print("NIvel_educacion:" , df_cleaning['NIvel_educacion'].value_counts())
df_cleaning.shape

NIvel_educacion: NIvel_educacion
Educación Universitaria Pregrado    614
Educación Media                     357
Educación Tecnológica               309
Educación Técnica Profesional       215
Especialización                     141
Educación Secundaria Básica          17
No reporta                            1
Educación Primaria                    1
Name: count, dtype: int64
NIvel_educacion: NIvel_educacion
6    614
2    357
5    309
4    215
7    141
3     17
1      1
Name: count, dtype: int64

/var/folders/z7/vdyrcnp12n97fxt6rms9j4880000gn/T/ipykernel_84556/718188252.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cleaning['Estrato'] = df_cleaning['Estrato'].replace('No estratificado', 0)

(1654, 43)

## Dummies

In [84]:
# Mantener solo las filas donde la variable genero sea hombre o mujer
# df_cleaning = df_cleaning[df_cleaning['Genero'].isin(['Hombre', 'Mujer'])]

# Cambiar en la variable genero mujeres en 0 y hombres en 1
df_cleaning['Genero'] = df_cleaning['Genero'].map({'Mujer': 0, 'Hombre': 1})

print("Genero:" , df_cleaning['Genero'].value_counts())
df_cleaning.shape

# Cambiar en variable Campesino No en 0 y Si en 1
df_cleaning['Campesino'] = df_cleaning['Campesino'].map({'NO': 0, 'SI': 1})

df_cleaning.head(10)

Genero: Genero
1.0    1071
0.0     572
Name: count, dtype: int64

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,fecha_ini,...,area_4_des_seguridad,area_5_des_solucion_de_problemas,Matriculado (SI o NO),"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles
3,1.0,0,2,Ningún grupo étnico,2,NaN,Virtual,NO,1,2023-12-16 17:35:13,...,Innovador,Innovador,SI,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0
4,0.0,0,2,Ningún grupo étnico,4,NaN,Virtual,NO,1,2023-12-18 18:30:32,...,Integrador,Integrador,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0
7,0.0,1,3,"Negro, Mulato, Afrodescendiente, Afrocolombiano",6,NaN,Virtual,NO,1,2023-12-18 19:13:46,...,Innovador,Explorador,SI,NO APROBADO,Inteligencia artificial,4,Virtual,Básico,21.0,159.0
13,0.0,0,2,Ningún grupo étnico,5,NaN,Virtual,NO,1,2023-12-17 22:19:01,...,Integrador,Integrador,SI,FORMADO,Programación,2,Híbrida,Intermedio,159.0,159.0
14,1.0,0,2,Ningún grupo étnico,2,NaN,Virtual,NO,1,2023-12-16 23:01:34,...,Innovador,Innovador,SI,NO APROBADO,Inteligencia artificial,6,Virtual,Avanzado,90.0,159.0
27,1.0,1,1,Indígena,5,NaN,Virtual,NO,1,2023-12-18 13:33:30,...,Explorador,Explorador,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0
29,1.0,0,3,Ningún grupo étnico,5,NaN,Virtual,NO,1,2023-12-16 09:40:22,...,Innovador,Innovador,SI,FORMADO,Programación,2,Híbrida,Básico,159.0,159.0
38,1.0,0,1,Ningún grupo étnico,5,NaN,Virtual,NO,1,2023-12-17 15:18:28,...,Innovador,Integrador,SI,FORMADO,Inteligencia artificial,4,Virtual,Intermedio,159.0,159.0
41,1.0,0,2,Ningún grupo étnico,7,NaN,Virtual,NO,1,2023-12-16 12:40:47,...,Innovador,Innovador,SI,FORMADO,Análisis de datos,4_5,Virtual,Básico,156.0,159.0
45,1.0,1,2,"Negro, Mulato, Afrodescendiente, Afrocolombiano",6,NaN,Virtual,NO,1,2023-12-18 14:39:47,...,Explorador,Explorador,SI,FORMADO,Análisis de datos,2,Virtual,Intermedio,159.0,159.0

In [85]:
# variable Tipo_formacion cambiar Virtual por 0 e Híbrida por 1
df_cleaning['Tipo_formacion'] = df_cleaning['Tipo_formacion'].map({'Virtual': 0, 'Híbrida': 1})

df_cleaning.head()

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,fecha_ini,...,area_4_des_seguridad,area_5_des_solucion_de_problemas,Matriculado (SI o NO),"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles
3,1.0,0,2,Ningún grupo étnico,2,NaN,0,NO,1,2023-12-16 17:35:13,...,Innovador,Innovador,SI,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0
4,0.0,0,2,Ningún grupo étnico,4,NaN,0,NO,1,2023-12-18 18:30:32,...,Integrador,Integrador,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0
7,0.0,1,3,"Negro, Mulato, Afrodescendiente, Afrocolombiano",6,NaN,0,NO,1,2023-12-18 19:13:46,...,Innovador,Explorador,SI,NO APROBADO,Inteligencia artificial,4,Virtual,Básico,21.0,159.0
13,0.0,0,2,Ningún grupo étnico,5,NaN,0,NO,1,2023-12-17 22:19:01,...,Integrador,Integrador,SI,FORMADO,Programación,2,Híbrida,Intermedio,159.0,159.0
14,1.0,0,2,Ningún grupo étnico,2,NaN,0,NO,1,2023-12-16 23:01:34,...,Innovador,Innovador,SI,NO APROBADO,Inteligencia artificial,6,Virtual,Avanzado,90.0,159.0

In [86]:
# Variable Victima_del_conflicto cambiar NO por 0 y SI por 1
df_cleaning['Victima_del_conflicto'] = df_cleaning['Victima_del_conflicto'].map({'NO': 0, 'SI': 1})

df_cleaning.head()

,Genero,Campesino,Estrato,Autoidentificacion_Etnica,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,fecha_ini,...,area_4_des_seguridad,area_5_des_solucion_de_problemas,Matriculado (SI o NO),"Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)",Programa de Formación (Nombre del Curso),"Cohorte (1,2,3,4,5,6,7 o 8)","Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)",Nivel,Asistencia horas,Total_horas posibles
3,1.0,0,2,Ningún grupo étnico,2,NaN,0,0,1,2023-12-16 17:35:13,...,Innovador,Innovador,SI,FORMADO,Programación,6_7,Híbrida,Avanzado,159.0,159.0
4,0.0,0,2,Ningún grupo étnico,4,NaN,0,0,1,2023-12-18 18:30:32,...,Integrador,Integrador,SI,INACTIVO,Análisis de datos,1,Virtual,Básico,0.0,159.0
7,0.0,1,3,"Negro, Mulato, Afrodescendiente, Afrocolombiano",6,NaN,0,0,1,2023-12-18 19:13:46,...,Innovador,Explorador,SI,NO APROBADO,Inteligencia artificial,4,Virtual,Básico,21.0,159.0
13,0.0,0,2,Ningún grupo étnico,5,NaN,0,0,1,2023-12-17 22:19:01,...,Integrador,Integrador,SI,FORMADO,Programación,2,Híbrida,Intermedio,159.0,159.0
14,1.0,0,2,Ningún grupo étnico,2,NaN,0,0,1,2023-12-16 23:01:34,...,Innovador,Innovador,SI,NO APROBADO,Inteligencia artificial,6,Virtual,Avanzado,90.0,159.0

## one hot encodign

In [87]:
df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['Autoidentificacion_Etnica'],
    prefix='etnica',
    dtype=int      # 👈 fuerza que sean 0/1
)

In [88]:
# Para columnas : linea_1_des_programacion	linea_2_des_inteligecia_artificial	linea_3_des_analisis_de_datos	linea_4_des_blockchain	linea_5_des_arquitectura_en_la_nube
#  cambiar Innovador - Avanzado por 0, Explorador - Básico Básico por 1, Integrador - Intermedio por 2
df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['linea_1_des_programacion'],
    prefix='linea_1',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['linea_2_des_inteligecia_artificial'],
    prefix='linea_2',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['linea_3_des_analisis_de_datos'],
    prefix='linea_3',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['linea_4_des_blockchain'],
    prefix='linea_4',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['linea_5_des_arquitectura_en_la_nube'],
    prefix='linea_5',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning.head()

,Genero,Campesino,Estrato,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,fecha_ini,tiempo_segundos,...,linea_2_Integrador - Intermedio,linea_3_Explorador - Básico,linea_3_Innovador - Avanzado,linea_3_Integrador - Intermedio,linea_4_Explorador - Básico,linea_4_Innovador - Avanzado,linea_4_Integrador - Intermedio,linea_5_Explorador - Básico,linea_5_Innovador - Avanzado,linea_5_Integrador - Intermedio
3,1.0,0,2,2,NaN,0,0,1,2023-12-16 17:35:13,5988,...,0,0,1,0,0,1,0,0,1,0
4,0.0,0,2,4,NaN,0,0,1,2023-12-18 18:30:32,5912,...,1,0,0,1,0,0,1,0,0,1
7,0.0,1,3,6,NaN,0,0,1,2023-12-18 19:13:46,7044,...,1,0,0,1,0,0,1,1,0,0
13,0.0,0,2,5,NaN,0,0,1,2023-12-17 22:19:01,3076,...,1,0,0,1,0,0,1,0,0,1
14,1.0,0,2,2,NaN,0,0,1,2023-12-16 23:01:34,7061,...,0,0,1,0,0,1,0,0,1,0

In [ ]:
# Para columna Eje Final cambiar Programación por 0, Análisis de Datos por 1, Inteligencia artificial por 2,
# Blockchain por 3 y Arquitectura en la nube por 4 
df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['Eje Final'],
    prefix='eje_final',
    dtype=int      # 👈 fuerza que sean 0/1
)

KeyError: "None of [Index(['Eje Final'], dtype='object')] are in the [columns]"

In [91]:
# Para las columnas area_1_des_alfabetizacion_datos	area_2_des_comunicacion_y_colaboracion	area_3_des_contenidos_digitales	area_4_des_seguridad	area_5_des_solucion_de_problemas
# cambiar Innovador por 0, Explorador por 1, Integrador por 2
df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['area_1_des_alfabetizacion_datos'],
    prefix='area_1',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['area_2_des_comunicacion_y_colaboracion'],
    prefix='area_2',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['area_3_des_contenidos_digitales'],
    prefix='area_3',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['area_4_des_seguridad'],
    prefix='area_4',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['area_5_des_solucion_de_problemas'],
    prefix='area_5',
    dtype=int      # 👈 fuerza que sean 0/1
)


df_cleaning.head()

,Genero,Campesino,Estrato,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,fecha_ini,tiempo_segundos,...,area_2_Integrador,area_3_Explorador,area_3_Innovador,area_3_Integrador,area_4_Explorador,area_4_Innovador,area_4_Integrador,area_5_Explorador,area_5_Innovador,area_5_Integrador
3,1.0,0,2,2,NaN,0,0,1,2023-12-16 17:35:13,5988,...,0,0,1,0,0,1,0,0,1,0
4,0.0,0,2,4,NaN,0,0,1,2023-12-18 18:30:32,5912,...,1,0,1,0,0,0,1,0,0,1
7,0.0,1,3,6,NaN,0,0,1,2023-12-18 19:13:46,7044,...,0,0,1,0,0,1,0,1,0,0
13,0.0,0,2,5,NaN,0,0,1,2023-12-17 22:19:01,3076,...,1,0,0,1,0,0,1,0,0,1
14,1.0,0,2,2,NaN,0,0,1,2023-12-16 23:01:34,7061,...,0,0,1,0,0,1,0,0,1,0

In [92]:
# Para variable Eje_tematico cambiar Programación por 0, Datos por 1, Inteligencia artificial por 2,
# Ciber seguridad y Blockchain por 3, Computación y arquitectura en la nube por 4 y Blockchain por 5
df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['Eje_tematico'],
    prefix='eje_tematico',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning.head()

,Genero,Campesino,Estrato,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,fecha_ini,tiempo_segundos,...,area_4_Integrador,area_5_Explorador,area_5_Innovador,area_5_Integrador,eje_tematico_Blockchain,eje_tematico_Ciber seguridad y Blockchain,eje_tematico_Computación y arquitectura en la nube,eje_tematico_Datos,eje_tematico_Inteligencia artificial,eje_tematico_Programación
3,1.0,0,2,2,NaN,0,0,1,2023-12-16 17:35:13,5988,...,0,0,1,0,0,0,0,0,0,1
4,0.0,0,2,4,NaN,0,0,1,2023-12-18 18:30:32,5912,...,1,0,0,1,0,0,0,1,0,0
7,0.0,1,3,6,NaN,0,0,1,2023-12-18 19:13:46,7044,...,0,1,0,0,0,0,0,0,1,0
13,0.0,0,2,5,NaN,0,0,1,2023-12-17 22:19:01,3076,...,1,0,0,1,0,1,0,0,0,0
14,1.0,0,2,2,NaN,0,0,1,2023-12-16 23:01:34,7061,...,0,0,1,0,0,0,0,0,1,0

In [93]:
# Para variable Programa de Formación (Nombre del Curso) cambiar vacios por 0, Análisis de datos por 1, Arquitectura en la nube por 2, 
# Blockchain por 3, Inteligencia artificial por 4, Programación por 5

df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['Programa de Formación (Nombre del Curso)'],
    prefix='Programa_de_Formación',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning.head(10)

,Genero,Campesino,Estrato,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,fecha_ini,tiempo_segundos,...,eje_tematico_Ciber seguridad y Blockchain,eje_tematico_Computación y arquitectura en la nube,eje_tematico_Datos,eje_tematico_Inteligencia artificial,eje_tematico_Programación,Programa_de_Formación_Análisis de datos,Programa_de_Formación_Arquitectura en la nube,Programa_de_Formación_Blockchain,Programa_de_Formación_Inteligencia artificial,Programa_de_Formación_Programación
3,1.0,0,2,2,NaN,0,0,1,2023-12-16 17:35:13,5988,...,0,0,0,0,1,0,0,0,0,1
4,0.0,0,2,4,NaN,0,0,1,2023-12-18 18:30:32,5912,...,0,0,1,0,0,1,0,0,0,0
7,0.0,1,3,6,NaN,0,0,1,2023-12-18 19:13:46,7044,...,0,0,0,1,0,0,0,0,1,0
13,0.0,0,2,5,NaN,0,0,1,2023-12-17 22:19:01,3076,...,1,0,0,0,0,0,0,0,0,1
14,1.0,0,2,2,NaN,0,0,1,2023-12-16 23:01:34,7061,...,0,0,0,1,0,0,0,0,1,0
27,1.0,1,1,5,NaN,0,0,1,2023-12-18 13:33:30,1234,...,0,0,1,0,0,1,0,0,0,0
29,1.0,0,3,5,NaN,0,0,1,2023-12-16 09:40:22,5121,...,0,0,0,0,1,0,0,0,0,1
38,1.0,0,1,5,NaN,0,0,1,2023-12-17 15:18:28,5926,...,0,0,0,1,0,0,0,0,1,0
41,1.0,0,2,7,NaN,0,0,1,2023-12-16 12:40:47,7080,...,1,0,0,0,0,1,0,0,0,0
45,1.0,1,2,6,NaN,0,0,1,2023-12-18 14:39:47,7112,...,0,0,1,0,0,1,0,0,0,0

In [94]:
print("Discapacidad:" , df_cleaning['Discapacidad'].value_counts())

df_cleaning['Discapacidad'] = df_cleaning['Discapacidad'].notna().astype(int)

df_cleaning.head()

Discapacidad: Discapacidad
Discapacidad física                  12
Discapacidad auditiva                 7
Discapacidad visual                   6
Discapacidad psicosocial (mental)     5
Discapacidad intelectual              1
Name: count, dtype: int64

,Genero,Campesino,Estrato,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,fecha_ini,tiempo_segundos,...,eje_tematico_Ciber seguridad y Blockchain,eje_tematico_Computación y arquitectura en la nube,eje_tematico_Datos,eje_tematico_Inteligencia artificial,eje_tematico_Programación,Programa_de_Formación_Análisis de datos,Programa_de_Formación_Arquitectura en la nube,Programa_de_Formación_Blockchain,Programa_de_Formación_Inteligencia artificial,Programa_de_Formación_Programación
3,1.0,0,2,2,0,0,0,1,2023-12-16 17:35:13,5988,...,0,0,0,0,1,0,0,0,0,1
4,0.0,0,2,4,0,0,0,1,2023-12-18 18:30:32,5912,...,0,0,1,0,0,1,0,0,0,0
7,0.0,1,3,6,0,0,0,1,2023-12-18 19:13:46,7044,...,0,0,0,1,0,0,0,0,1,0
13,0.0,0,2,5,0,0,0,1,2023-12-17 22:19:01,3076,...,1,0,0,0,0,0,0,0,0,1
14,1.0,0,2,2,0,0,0,1,2023-12-16 23:01:34,7061,...,0,0,0,1,0,0,0,0,1,0

In [95]:
# Para variable Nivel cambiar Básico por 1, Intermedio por 2, Avanzado por 3 y vacios por 0
df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['Nivel'],
    prefix='Nivel',
    dtype=int      # 👈 fuerza que sean 0/1
)

In [96]:
print("Cohorte (1,2,3,4,5,6,7 o 8):" , df_cleaning['Cohorte (1,2,3,4,5,6,7 o 8)'].value_counts())

# Para variable Cohorte (1,2,3,4,5,6,7 o 8) cambiar 2_3 por 9, 3_5 por 10, 4_5 por 11, 5_7 por 12, 6_7 por 13, 6_8 por 14 y vacios por 0
df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['Cohorte (1,2,3,4,5,6,7 o 8)'],
    prefix='Cohorte',
    dtype=int      # 👈 fuerza que sean 0/1
)

df_cleaning.head(10)

Cohorte (1,2,3,4,5,6,7 o 8): Cohorte (1,2,3,4,5,6,7 o 8)
2_3    315
2      310
4      286
1      176
5      146
8      114
6       82
3       81
4_5     73
7       44
6_7     15
3_5      8
6_8      3
5_7      1
Name: count, dtype: int64

,Genero,Campesino,Estrato,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,fecha_ini,tiempo_segundos,...,Cohorte_5,Cohorte_6,Cohorte_7,Cohorte_8,Cohorte_2_3,Cohorte_3_5,Cohorte_4_5,Cohorte_5_7,Cohorte_6_7,Cohorte_6_8
3,1.0,0,2,2,0,0,0,1,2023-12-16 17:35:13,5988,...,0,0,0,0,0,0,0,0,1,0
4,0.0,0,2,4,0,0,0,1,2023-12-18 18:30:32,5912,...,0,0,0,0,0,0,0,0,0,0
7,0.0,1,3,6,0,0,0,1,2023-12-18 19:13:46,7044,...,0,0,0,0,0,0,0,0,0,0
13,0.0,0,2,5,0,0,0,1,2023-12-17 22:19:01,3076,...,0,0,0,0,0,0,0,0,0,0
14,1.0,0,2,2,0,0,0,1,2023-12-16 23:01:34,7061,...,0,1,0,0,0,0,0,0,0,0
27,1.0,1,1,5,0,0,0,1,2023-12-18 13:33:30,1234,...,0,0,0,0,0,0,0,0,0,0
29,1.0,0,3,5,0,0,0,1,2023-12-16 09:40:22,5121,...,0,0,0,0,0,0,0,0,0,0
38,1.0,0,1,5,0,0,0,1,2023-12-17 15:18:28,5926,...,0,0,0,0,0,0,0,0,0,0
41,1.0,0,2,7,0,0,0,1,2023-12-16 12:40:47,7080,...,0,0,0,0,0,0,1,0,0,0
45,1.0,1,2,6,0,0,0,1,2023-12-18 14:39:47,7112,...,0,0,0,0,0,0,0,0,0,0

In [97]:
# Para variable Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO) cambiar Híbrida por 1, Virtual por 2 y vacios por 0
df_cleaning = pd.get_dummies(
    df_cleaning,
    columns=['Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)'],
    prefix='Tipo_de_formacion',
    dtype=int      # 👈 fuerza que sean 0/1
)

## VARIABLE DE INTERES

In [98]:
df_cleaning['estado_formado'] = (
    df_cleaning['Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)']
    .eq("FORMADO")
    .astype(int)
)

df_cleaning.drop('Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)', axis=1, inplace=True)

df_cleaning.head(10)

,Genero,Campesino,Estrato,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,fecha_ini,tiempo_segundos,...,Cohorte_8,Cohorte_2_3,Cohorte_3_5,Cohorte_4_5,Cohorte_5_7,Cohorte_6_7,Cohorte_6_8,Tipo_de_formacion_Híbrida,Tipo_de_formacion_Virtual,estado_formado
3,1.0,0,2,2,0,0,0,1,2023-12-16 17:35:13,5988,...,0,0,0,0,0,1,0,1,0,1
4,0.0,0,2,4,0,0,0,1,2023-12-18 18:30:32,5912,...,0,0,0,0,0,0,0,0,1,0
7,0.0,1,3,6,0,0,0,1,2023-12-18 19:13:46,7044,...,0,0,0,0,0,0,0,0,1,0
13,0.0,0,2,5,0,0,0,1,2023-12-17 22:19:01,3076,...,0,0,0,0,0,0,0,1,0,1
14,1.0,0,2,2,0,0,0,1,2023-12-16 23:01:34,7061,...,0,0,0,0,0,0,0,0,1,0
27,1.0,1,1,5,0,0,0,1,2023-12-18 13:33:30,1234,...,0,0,0,0,0,0,0,0,1,0
29,1.0,0,3,5,0,0,0,1,2023-12-16 09:40:22,5121,...,0,0,0,0,0,0,0,1,0,1
38,1.0,0,1,5,0,0,0,1,2023-12-17 15:18:28,5926,...,0,0,0,0,0,0,0,0,1,1
41,1.0,0,2,7,0,0,0,1,2023-12-16 12:40:47,7080,...,0,0,0,1,0,0,0,0,1,1
45,1.0,1,2,6,0,0,0,1,2023-12-18 14:39:47,7112,...,0,0,0,0,0,0,0,0,1,1

In [59]:
df_cleaning.columns

Index(['Genero', 'Campesino', 'Estrato', 'NIvel_educacion', 'Discapacidad',
       'Tipo_formacion', 'Victima_del_conflicto', 'Disponibilidad_Equipo',
       'fecha_ini', 'tiempo_segundos', 'Eje_tematico', 'Eje Final',
       'Puntaje_eje_tematico_selecionado', 'linea_1_programacion',
       'linea_2_inteligecia_artificial', 'linea_3_analisis_de_datos',
       'linea_4_blockchain', 'linea_5_arquitectura_en_la_nube',
       'linea_1_des_programacion', 'linea_2_des_inteligecia_artificial',
       'linea_3_des_analisis_de_datos', 'linea_4_des_blockchain',
       'linea_5_des_arquitectura_en_la_nube', 'area_1_alfabetizacion_datos',
       'area_2_comunicacion_y_colaboracion', 'area_3_contenidos_digitales',
       'area_4_seguridad', 'area_5_solucion_de_problemas', 'area_6_igles',
       'area_1_des_alfabetizacion_datos',
       'area_2_des_comunicacion_y_colaboracion',
       'area_3_des_contenidos_digitales', 'area_4_des_seguridad',
       'area_5_des_solucion_de_problemas', 'Origen (MINTIC, CYMETRIA)',
       'Matriculado (SI o NO)',
       'Estado (FORMADO, NO APROBADO, INACTIVO, EN FORMACION)',
       'Programa de Formación (Nombre del Curso)',
       'Cohorte (1,2,3,4,5,6,7 o 8)',
       'Tipo de formación (PRESENCIAL,VIRTUAL,HIBRIDO)', 'Nivel',
       'Asistencia horas', 'Total_horas posibles', 'etnica_Indígena',
       'etnica_Negro, Mulato, Afrodescendiente, Afrocolombiano',
       'etnica_Ningún grupo étnico',
       'etnica_Raizal del Archipiélago de San Andrés, Providencia y Santa Catalina',
       'etnica_Rrom o gitano'],
      dtype='object')

## fechas a date time

In [99]:
# Convertir fechas a datetime
import pandas as pd

# Convertir la columna a tipo datetime (maneja formato día/mes/año y hora)
df_cleaning['fecha_ini'] = pd.to_datetime(df_cleaning['fecha_ini'], format='%d/%m/%Y %I:%M:%S %p', errors='coerce')

# Crear nuevas columnas
df_cleaning['dia'] = df_cleaning['fecha_ini'].dt.day
df_cleaning['mes'] = df_cleaning['fecha_ini'].dt.month
df_cleaning['year'] = df_cleaning['fecha_ini'].dt.year

# Eliminar la columna original
df_cleaning = df_cleaning.drop(columns=['fecha_ini'])

# Verificar resultado
# df_cleaning[['dia', 'mes', 'year']].head()
df_cleaning.head()

,Genero,Campesino,Estrato,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,tiempo_segundos,Puntaje_eje_tematico_selecionado,...,Cohorte_4_5,Cohorte_5_7,Cohorte_6_7,Cohorte_6_8,Tipo_de_formacion_Híbrida,Tipo_de_formacion_Virtual,estado_formado,dia,mes,year
3,1.0,0,2,2,0,0,0,1,5988,84.6429,...,0,0,1,0,1,0,1,16,12,2023
4,0.0,0,2,4,0,0,0,1,5912,74.2857,...,0,0,0,0,0,1,0,18,12,2023
7,0.0,1,3,6,0,0,0,1,7044,70.0893,...,0,0,0,0,0,1,0,18,12,2023
13,0.0,0,2,5,0,0,0,1,3076,65.5357,...,0,0,0,0,1,0,1,17,12,2023
14,1.0,0,2,2,0,0,0,1,7061,83.2143,...,0,0,0,0,0,1,0,16,12,2023

## Numericas

In [100]:
# En variable Asistencia horas cambiar NaN por -1
df_cleaning['Asistencia horas'] = df_cleaning['Asistencia horas'].fillna(-1).astype(int)

# En variable Total_horas posibles cambiar 159 por 1 y vacias por 0
df_cleaning['Total_horas posibles'] = df_cleaning['Total_horas posibles'].replace(159, 1).fillna(0).astype(int)
df_cleaning.head()

,Genero,Campesino,Estrato,NIvel_educacion,Discapacidad,Tipo_formacion,Victima_del_conflicto,Disponibilidad_Equipo,tiempo_segundos,Puntaje_eje_tematico_selecionado,...,Cohorte_4_5,Cohorte_5_7,Cohorte_6_7,Cohorte_6_8,Tipo_de_formacion_Híbrida,Tipo_de_formacion_Virtual,estado_formado,dia,mes,year
3,1.0,0,2,2,0,0,0,1,5988,84.6429,...,0,0,1,0,1,0,1,16,12,2023
4,0.0,0,2,4,0,0,0,1,5912,74.2857,...,0,0,0,0,0,1,0,18,12,2023
7,0.0,1,3,6,0,0,0,1,7044,70.0893,...,0,0,0,0,0,1,0,18,12,2023
13,0.0,0,2,5,0,0,0,1,3076,65.5357,...,0,0,0,0,1,0,1,17,12,2023
14,1.0,0,2,2,0,0,0,1,7061,83.2143,...,0,0,0,0,0,1,0,16,12,2023

In [101]:
df_cleaning.shape

(1654, 98)

In [102]:
df_cleaning.columns

Index(['Genero', 'Campesino', 'Estrato', 'NIvel_educacion', 'Discapacidad',
       'Tipo_formacion', 'Victima_del_conflicto', 'Disponibilidad_Equipo',
       'tiempo_segundos', 'Puntaje_eje_tematico_selecionado',
       'linea_1_programacion', 'linea_2_inteligecia_artificial',
       'linea_3_analisis_de_datos', 'linea_4_blockchain',
       'linea_5_arquitectura_en_la_nube', 'area_1_alfabetizacion_datos',
       'area_2_comunicacion_y_colaboracion', 'area_3_contenidos_digitales',
       'area_4_seguridad', 'area_5_solucion_de_problemas', 'area_6_igles',
       'Matriculado (SI o NO)', 'Asistencia horas', 'Total_horas posibles',
       'etnica_Indígena',
       'etnica_Negro, Mulato, Afrodescendiente, Afrocolombiano',
       'etnica_Ningún grupo étnico',
       'etnica_Raizal del Archipiélago de San Andrés, Providencia y Santa Catalina',
       'etnica_Rrom o gitano', 'linea_1_Explorador - Básico',
       'linea_1_Innovador - Avanzado', 'linea_1_Integrador - Intermedio',
       'linea_2_Explorador - Básico', 'linea_2_Innovador - Avanzado',
       'linea_2_Integrador - Intermedio', 'linea_3_Explorador - Básico',
       'linea_3_Innovador - Avanzado', 'linea_3_Integrador - Intermedio',
       'linea_4_Explorador - Básico', 'linea_4_Innovador - Avanzado',
       'linea_4_Integrador - Intermedio', 'linea_5_Explorador - Básico',
       'linea_5_Innovador - Avanzado', 'linea_5_Integrador - Intermedio',
       'eje_final_Análisis de Datos', 'eje_final_Arquitectura en la nube',
       'eje_final_Blockchain', 'eje_final_Inteligencia artificial',
       'eje_final_Programación', 'area_1_Explorador', 'area_1_Innovador',
       'area_1_Integrador', 'area_2_Explorador', 'area_2_Innovador',
       'area_2_Integrador', 'area_3_Explorador', 'area_3_Innovador',
       'area_3_Integrador', 'area_4_Explorador', 'area_4_Innovador',
       'area_4_Integrador', 'area_5_Explorador', 'area_5_Innovador',
       'area_5_Integrador', 'eje_tematico_Blockchain',
       'eje_tematico_Ciber seguridad y Blockchain',
       'eje_tematico_Computación y arquitectura en la nube',
       'eje_tematico_Datos', 'eje_tematico_Inteligencia artificial',
       'eje_tematico_Programación', 'Programa_de_Formación_Análisis de datos',
       'Programa_de_Formación_Arquitectura en la nube',
       'Programa_de_Formación_Blockchain',
       'Programa_de_Formación_Inteligencia artificial',
       'Programa_de_Formación_Programación', 'Nivel_Avanzado', 'Nivel_Básico',
       'Nivel_Intermedio', 'Cohorte_1', 'Cohorte_2', 'Cohorte_3', 'Cohorte_4',
       'Cohorte_5', 'Cohorte_6', 'Cohorte_7', 'Cohorte_8', 'Cohorte_2_3',
       'Cohorte_3_5', 'Cohorte_4_5', 'Cohorte_5_7', 'Cohorte_6_7',
       'Cohorte_6_8', 'Tipo_de_formacion_Híbrida', 'Tipo_de_formacion_Virtual',
       'estado_formado', 'dia', 'mes', 'year'],
      dtype='object')

In [103]:
df_cleaning.to_csv('df_clean.csv', index=False)